<!DOCTYPE html>
<html lang="pt-br">

    <%- include('./components/head') %> 
    

<body>

    <header>

        <%- include('./components/navbar') %>

    </header>



    <main>
        

        <section id="jogos">

            <div class="card">
                <div class="card-title">

                    <h2>
                        <%= game.nome %>
                    </h2>

                </div>

                <div class="card-img">

                    <img src="<%= game.imagem %>" alt="imagem">

                </div>

                <div class="card-info">

                    <div class="card-descricao">

                        <p> Descrição: <%= game.descricao %>
                                <p>

                    </div>

                    <div class="card-preco">

                        <p> Preço: <%= game.preço %> R$ <p>

                    </div>

                    <div class="card-estoque">

                        <p> Estoque: <%= game.estoque %>
                                <p>

                    </div>

                    <div class="card-genero">

                        <p> Gênero: <%= game.genero %>
                                <p>

                    </div>

                    <div class="Plataforma">

                        <p> Plataforma: <%= game.plataforma %>
                                <p>

                    </div>

                </div>
            </div>


            

    </main>

    <div id="botoes">

        <a href="/editar/<%=game.id%> "> <button class="button">  <span> Editar</span>  </button> </a>
        <a href="/deletar/<%= game.id %> "> <button class="button">  <span> Apagar</span>  </button> </a>

    </div>

</body>


</html>